@import "tailwindcss";
@import "tw-animate-css";

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hide::-webkit-scrollbar {
	display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
	/* IE and Edge */
	-ms-overflow-style: none;

	/* Firefox */
	scrollbar-width: none;
}

:root {
	--bg: #002B36;
	--fg: #073642;
	--fg-hover: #0D3A48;
	--fg-elevated: #124559;
	--text: #FFFFFF;
	--text-muted: #8F8B8B;
}
